[2021-02-15 13:51] muthuannamalai12 opened #2 "Integrate Welcome Bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

[2021-02-15 13:52] muthuannamalai12 opened #3 "Create Code of Conduct"
I would like to add code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-02-15 13:52] muthuannamalai12 commented on #3
I would love to work on this issue as a part of Cross-woc. Kindly assign it to me.

[2021-02-15 13:53] muthuannamalai12 opened #4 "Add Issue And PR Tempaltes"
Would like to add issue and pr templates to these project that will basically explain the type of issue and its description and also the type of pr the set of checklist that it obeys and its description

Kindly assign this to me as a part of Cross-Woc. I would love to do it

[2021-02-16 13:29] shagun25 opened #5 "fix the screen when user tap on shake to capture and activate emergency."

[2021-02-16 13:31] shagun25 opened #6 "provide new ideas for map"

[2021-02-16 13:40] shagun25 opened #7 "notification service"

[2021-02-16 13:40] shagun25 opened #8 "add database"

[2021-02-16 14:00] shagun25 commented on #4
okay . Go for it.

[2021-02-16 14:06] shagun25 opened #9 "Improve the message feature"
provide new ideas except following:
1.location
2. video and image capture(both back and front)
after every 5 sec.

[2021-02-19 09:18] Saransh-cpp opened #10 "Renderflex overflow in Sign Up page"
## Screenshot

<img src='https://user-images.githubusercontent.com/74055102/108483945-524d8a00-72c1-11eb-9167-a63e97d65142.jpg' height='500px'/>

### I'd like to work on this issue as a part of CWoC.

[2021-02-23 02:02] muthuannamalai12 commented on #2
@shagun25 Please assign it to me as a part of Cross Woc.

[2021-02-23 02:03] muthuannamalai12 commented on #2
@shagun25 Please assign it to me as a part of Cross Woc.

[2021-02-23 02:04] muthuannamalai12 commented on #3
@shagun25 Please assign it to me as a part of Cross Woc.

[2021-02-26 05:55] muthuannamalai12 commented on #3
@shagun25 Please assign it to me as a part of Cross Woc.

[2021-02-26 05:55] muthuannamalai12 commented on #2
@shagun25 Please assign it to me as a part of Cross Woc.

[2021-03-03 17:15] soukarsha122 commented on #3
I would like to work on this issue as a part of GSSOC'21

[2021-03-06 05:13] kmryashasvi opened #13 "associating link to crosswoc website to its banner"
I will associate link to crosswoc website to its banner so that, when anyone clicks the crosswoc banner, it will direct them to the website of crosswoc

[2021-03-06 06:02] kmryashasvi opened #14 "I will add name and photo of maintainer in the end of readme file of your repo"
i will so this for all the maintainers.
you can see a sample below
![image](https://user-images.githubusercontent.com/66861659/110197155-a9319280-7e6f-11eb-8ece-b12b5acacef7.png)

[2021-03-06 07:32] harshsinghs1058 commented on #8
Can you pls.. describe it this task..means what actual work I have to do

[2021-03-08 03:01] #13 closed

[2021-03-08 03:50] kmryashasvi commented on #14
Please add label of crosswoc and difficulty label

[2021-03-08 18:35] srimontidutta commented on #3
Can I please contribute to this issue? (GSSoC)

[2021-03-08 19:50] subhangi2731 commented on #9
can you please assign the issue to me?

[2021-03-08 19:51] subhangi2731 commented on #6
can you please assign this issue to me?

[2021-03-08 19:52] subhangi2731 commented on #8
can you please assign this issue to me?

[2021-03-09 04:59] Vrushti24 commented on #2
hey can i work on this @shagun25 under gssoc?

[2021-03-09 07:12] Sanju-github002 commented on #9
I can do best for women safety so can u assing this problem to me.

[2021-03-09 18:00] shagun25 commented on #9
Both of you can drop your ideas in discord server of gssoc.

[2021-03-09 18:10] kanak22 commented on #4
Can I work on this? I would like to contribute to this. If it's open kindly assign it to me

[2021-03-10 10:56] SamarpanCoder2002 opened #16 "Google Authentication Through Firebase"
Hello, I want to add Google Authentication Through Firebase... I noticed that email and password authentication already added, but not google authentication...I also work on google authentication in one of my projects..... So, I think, I can do it correctly..... If I can forward with that, Please assign me to here...I am also a **_GSSOC'21_** participant......Thanks, @shagun25 ......

[2021-03-10 12:25] Avnish5 commented on #5
Kindly assign this task to me under GSSOC 21.

[2021-03-10 22:01] Sahil-kachhap opened #17 "Refactor homescreen.dart file"
- Currently the homescreen.dart file consists of around 3700+ lines of code.

- there are several widgets like Avatar glow that can be refactored to make the code structure short, clean and maintainable.

- it's not a easy task to review any kind of changes in such kind of large file so let me refactor that file to make it more maintainable.

-  I saw at the bottom half of the code with a Map data

[2021-03-11 16:56] aman-senpai commented on #9
I'll love to suggest some ideas for this application, could you assist me with how to send them to you?

[2021-03-11 16:59] aman-senpai commented on #6
I'll love to work on this issue.
Can you please assign this issue to me under GSSOC.

[2021-03-12 03:54] shagun25 commented on #9
through discord server

[2021-03-12 03:56] shagun25 commented on #8
I have edited the discription. you can check, if still any doubt join discord server.

[2021-03-12 04:37] shagun25 commented on #7
added

[2021-03-12 05:05] chakravarthi-v commented on #7
@shagun25  do assign this issue to me and I can make it work with firebase notifications and do add a GSsoc label :)

[2021-03-12 06:59] SamarpanCoder2002 commented on #16
Thanks for assign me here.... I am also a GSSOC'21 participant.... Kindly,  add **_GSSOC'21_** label in that issue please..Thank you

[2021-03-12 07:12] SamarpanCoder2002 commented on #16
And to add this feature, I need to access firebase account realted to that project. If you have already a firebase account, kindly make me collaborator in that(my gmail: samarpanofficial2021@gmail.com)...... If not having a firebase account, Then I can proceed with making a new firebase account...Waiting for your response....Thanks

[2021-03-12 12:28] rohank2502 opened #18 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:43] VaishnaviSood commented on #8
Can this issue be assigned to me?

[2021-03-12 14:44] VaishnaviSood commented on #5
Can this issue be assigned to me. I am a GSSOC participant.

[2021-03-12 16:53] #4 closed

[2021-03-12 16:56] shagun25 commented on #3
@chinmoy12c you first need to ask for an issue ....you can not directly make a PR.

[2021-03-12 16:57] #10 closed

[2021-03-12 17:03] kanchi12P commented on #9
please assign this issue to me I would like to give ideas for it.

[2021-03-12 17:03] shagun25 commented on #16
Done

[2021-03-12 17:16] SamarpanCoder2002 commented on #16
Thanks for adding that......
1. Can I store user data via google auth in cloud firestore or not......If you give me that permission to store data..... Please give me access of cloud firestore(Without that I can authenticate with google but not store user data in firestore)....
2. I am also a GSSOC'21 participant.... This project under GSSOC.... Please add **_GSSOC'21_** label and level like **_lev

[2021-03-12 18:03] SamarpanCoder2002 opened #20 "Facebook Authentication Through Firebase"
**Describe the feature you'd like to add**
I would like to add Facebook Authentication Through Firebase......

**Describe how you will do it**
I will use firebase to authenticate with Facebook... I already worked on that in other projects..... So, I think I can do it

**Additional context**
If I can forward With that,
1. Please assign me to here
2. Please add the labels like **_gssoc'21_** label a

[2021-03-12 18:53] shreyadubey0902 commented on #14
can i also work on this

[2021-03-13 01:01] kmryashasvi commented on #14
I think, I can do this on my own

[2021-03-13 04:12] pranavi79 commented on #8
I have a sound knowledge in non sql and sql database, can I take this over?

[2021-03-13 04:22] pranavi79 commented on #9
This is my first time here, can I be assigned to this issue please

[2021-03-13 04:23] pranavi79 commented on #7
I have previously implemented notifications through firebase, can I also on it, if possible?

[2021-03-13 04:33] pranavi79 opened #21 "Email and Phone verification using firebase"
I was thinking if I could add verification add-on via firebase, and send otp if "forgot password"

[2021-03-13 04:44] chinmoy12c commented on #3
Oh, sorry for that  😅 😅

[2021-03-13 07:13] chakravarthi-v commented on #7
@shagun25 I need firebase console access to work on it and my email is chakravarthiviswanath@gmail.com and please add the gsSoc label to the isue

[2021-03-13 07:52] shagun25 commented on #20
Not required as far now.

[2021-03-13 07:52] #20 closed

[2021-03-13 07:53] #18 closed

[2021-03-13 09:40] chinmoy12c commented on #3
Thanks for assigning @shagun25 :) , could you also please add the ```gssoc21``` label 😄

[2021-03-13 13:12] SamarpanCoder2002 commented on #16
Please let me know about that @shagun25

[2021-03-14 03:32] shagun25 opened #23 "Back button not working on all places"

[2021-03-14 03:34] shagun25 opened #24 "Proper dialog box when user creds doesn't match while login"

[2021-03-14 03:35] shagun25 opened #25 "Page breaking down at bottom"
New user   UI breaking at bottom
Home   Page breaking at bottom

[2021-03-14 03:36] shagun25 opened #26 "clean architecture"

[2021-03-14 03:40] shagun25 opened #27 "Migrating to flutter 2.0"

[2021-03-14 03:42] shagun25 opened #28 "Add default contacts for sending message and call"

[2021-03-14 03:44] shagun25 opened #29 "Auto image capture while in emergency and share and save too."

[2021-03-14 03:45] shagun25 opened #30 "SOS without opening app in emergency(provide shortcut or gesture)"

[2021-03-14 03:47] shagun25 opened #31 "Deep learning automatic model"
1️⃣ AUTOMATION : Perform Tasks In Background
--
To make the app robust and self alarming, make it auto reactive according to some of the factors depending on surroundings listed below:
🔘 Make it more active in a particular time range(ask usr to set the more cautious timings).
🔘 Consider the situation as emergency as if the shake and vibrations around the device exceeds the fixed limit.
🔘 SOS witho

[2021-03-14 04:10] shagun25 opened #32 "Auto audio record while in emergency and share and save too."

[2021-03-14 04:10] shagun25 opened #33 "Record video in foreground"
**Feature:**  - Record video in foreground

**Expected Behaviour:**  - Record video when the user clicks the in a foreground state, then save it to the local store in the app.

[2021-03-14 04:40] shagun25 opened #34 "alert messages"
notification and alert messages will be sent to her family(trusted) members. So that their family can track the current location of the user at that time.

[2021-03-14 04:41] shagun25 opened #35 "Store data of family contacts in case of emergency"
Sequence to follow:
1.)Login the App by filling the details.
2.)Fill the details of your family members in trusted members.

[2021-03-14 04:42] shagun25 opened #36 "User access"
User Access Required
location
Contact list
Media Access
Phone Calls
battery Usage

[2021-03-14 04:45] shagun25 opened #37 "Null safety"

[2021-03-14 06:10] SamarpanCoder2002 commented on #16
Thanks for assign labels...I will make pull request soon...Thank u @shagun25

[2021-03-14 09:11] pranjalagrawal2012 commented on #23
Hey @shagun25 My name is Pranjal Agrawal and i want to contribute on this issue. Can you please assign me ?? It will be very greatful

[2021-03-14 09:34] pranjalagrawal2012 commented on #8
@shagun25 I know much about shared preferences and sqflite.  It will be grateful if you assign the issue to me ??

[2021-03-14 09:46] pranjalagrawal2012 commented on #25
Hey @shagun25 My name is Pranjal Agrawal and i want to contribute on this issue. Can you please assign me ?? It will be very greatful

[2021-03-14 10:20] Samdid commented on #37
@shagun25 I would like to work on this, please assign it to me

[2021-03-14 10:30] VaishnaviSood commented on #37
@shagun25 can this issue be assigned to me?...I'm a participant of GSSOC 2021 :)

[2021-03-14 11:18] Samiksha519 commented on #34
I would like to contribute to this issue. I am a part of GSSoC'21

[2021-03-14 12:06] chakravarthi-v commented on #7
sorry @shagun25 I thought this has to be a complete user app notification from firebase...as it not seems to be..so I'm unassigning myself

[2021-03-14 13:10] akshatvirmani commented on #35
I would like to work on this issue. Please assign this to me.

[2021-03-14 14:12] khareyash05 opened #39 "add contributing.md"
Hi ! I would like to create a file named contributing.md which will
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of G

[2021-03-14 14:15] nathsagar24 commented on #33
I would like to work on this issue. Can you please assign it to me? I am a participant of Gssoc and CrossWoc.

[2021-03-15 02:12] kmryashasvi commented on #14
This is not for gssoc, this is for crosswoc

[2021-03-15 05:54] muthuannamalai12 commented on #2
@Shagun Can I work on it as a part of GSSOC

[2021-03-15 09:51] pawan2806 commented on #27
Hi ,Can I work on this ? I am participating in GSSOC21.

[2021-03-15 09:53] pawan2806 commented on #30
Hi, can I work on this feature under gssoc21? I am thinking of implementing it using the quick_actions package.
Package : https://pub.dev/packages/quick_actions

[2021-03-15 11:39] shagun25 commented on #39
Already there.

[2021-03-15 11:39] #39 closed

[2021-03-16 04:16] hiashutoshsingh commented on #33
@nathsagar24 How you will be implementing this? Let's discuss your approach.

[2021-03-16 04:42] hiashutoshsingh commented on #27
@pawan2806 How you will be implementing this? Please let us know your approach.

[2021-03-16 04:47] hiashutoshsingh commented on #17
@Sahil-kachhap What's the update on this? is everything going smooth. Let us know if you are blocked somewhere.

[2021-03-16 04:53] hiashutoshsingh commented on #8
Hey guys, I would highly recommend the use of https://pub.dev/packages/hive, then https://pub.dev/packages/moor, then https://pub.dev/packages/sqflite this package.

If anyone has worked with these packages, let us know.
@pranjalagrawal2012 @pranavi79 @VaishnaviSood @subhangi2731

[2021-03-16 05:11] Sahil-kachhap commented on #17
@hiashutoshsingh Work is in progress sir . I will let you know if I face any kind of difficulty at any place of this work.

[2021-03-16 05:21] hiashutoshsingh commented on #23
This is working as expected. Will be closing this today before EOD.

[2021-03-16 05:28] hiashutoshsingh commented on #25
Attaching screenshots for reference.
This is tested on a 5.5-inch android phone.

![WhatsApp Image 2021-03-16 at 10 49 00 AM](https://user-images.githubusercontent.com/21235425/111260257-7ee98d00-8646-11eb-8a69-95aa377b2991.jpeg)
![WhatsApp Image 2021-03-16 at 10 48 59 AM](https://user-images.githubusercontent.com/21235425/111260253-7db86000-8646-11eb-8758-ad8d99db8509.jpeg)

![WhatsApp Image 2021

[2021-03-16 07:07] iamsamuelhere commented on #36
I would like to work on this issue. I am an participant at GSSOC 21
Can you please elaborate more about the issue?

[2021-03-16 09:15] ShrutiJ-01 commented on #8
I have worked with hive in flutter, I would like to work in this issue

[2021-03-16 14:23] Soundug commented on #32
Hello @shagun25! I would like to work on this issue.

[2021-03-16 14:37] Soundug commented on #36
Hello @shagun25! I would like to work on this issue.

[2021-03-16 15:08] pranjalagrawal2012 commented on #23
okay @hiashutoshsingh Thankyou

[2021-03-16 15:08] #3 closed

[2021-03-16 18:20] chinmoy12c opened #43 "Quickfix for broken CODE OF CONDUCT link"
**Describe the bug**

The CODE_OF_CONDUCT.md was broken in the recent [PR](#15). This fixes it.

[2021-03-16 18:24] chinmoy12c commented on #43
@shagun25, Sorry for the link error made in the previous. This is a quick fix to correct it.

[2021-03-16 19:48] shagun25 opened #45 "Create a web template for Sheroes App."
**Feature:** - Web template
**Expected Behaviour:**  - A web template for the SheHeroes project. This would contain pages including its feature, necessary links, about the project, contact person.

**Ref:**
https://in.pinterest.com/pin/446067538069613843/ - UI should be shown like this.
https://www.duit.io/ - content should be managed like this

POINTS-25

[2021-03-16 20:27] Ayushisood commented on #45
Hii @shagun25 , I would like to work on it as a gssoc'21 participant.
Kindly assign this task to me.
I am good in frontend.
Looking forward to positive response.

[2021-03-17 03:37] shagun25 commented on #45
Hey assigned to you. Kindly share your template before starting or having doubts discuss in discord group.

[2021-03-17 05:06] hiashutoshsingh commented on #8
Great!
One question though you are also one of the participants in gssoc?

[2021-03-17 05:08] #43 closed

[2021-03-17 05:10] #2 closed

[2021-03-17 05:27] ShrutiJ-01 commented on #8
@hiashutoshsingh Yes!

[2021-03-17 06:38] Ayushisood commented on #45
Okay thanks! will get back to you with the template soon.

[2021-03-17 08:43] keshavgbpecdelhi commented on #28
Hi, What exactly we have to do in this. And if possible assign it to me, i will try to work on that;

[2021-03-17 10:58] shagun25 opened #46 "Dark/Light theme mode"

[2021-03-17 11:00] shagun25 opened #47 "Splash Screens"
Splash Screens need to be added so that before using the app for first time user can know about all the features of sheheroes.

[2021-03-17 11:04] shagun25 opened #48 "Change the language option for app"
Language option - Hindi/English

[2021-03-17 11:13] shagun25 opened #49 "Fake Call"
Call yourself using a fake name to get out of unpleasant situations .
Inside this :
1. Enter a fake name
2. Timer
You Can take help from UI provided

<h2 align="center" id="ScreenShots"></h2>

|||
|---|---|
|<h3 align="center">Fake Call</h3><img width="1440" alt="Screen Shot 2020-11-21 at 10 00 32 PM" src="https://user-images.githubusercontent.com/63994999/111460200-b2f5a880-8741-11eb-980d-0c50a6a

[2021-03-17 11:42] shagun25 opened #50 "Safety Timer"

[2021-03-17 11:49] shagun25 commented on #36
Added Description.

[2021-03-17 12:36] D-Ajay-Kumar commented on #50
Can you give a little more details?

[2021-03-17 12:38] D-Ajay-Kumar commented on #50
We just have to create this screen with that timer right? And when the 'Activate' button is pressed then the timer should start counting down? And after the timer hits 0 then what do we have to do?

[2021-03-17 12:45] Neha62-lit commented on #46
@shagun25 I would like to work on this issue!!

[2021-03-17 12:47] D-Ajay-Kumar commented on #47
You mean onboarding screen?

[2021-03-17 12:48] D-Ajay-Kumar commented on #47
Like a set of screens containing instructions as to how to use the app which only appears the very first time the user opens the app?

[2021-03-17 12:57] D-Ajay-Kumar commented on #47
If it is this set of onboarding screens then I wish to work on it.

[2021-03-17 13:47] theSatvik commented on #46
I'm a participant in GSSOC'21. Could you please assign me this issue?

[2021-03-17 14:00] Ayushisood commented on #45
Hey @shagun25  Here is the template , I would like to work with...
Please check , Can i go ahead with this?
![2021-03-17 (1)](https://user-images.githubusercontent.com/63868702/111478731-58b31280-8756-11eb-9e89-f24b34f6bce8.png)

[2021-03-17 14:02] ShrutiJ-01 commented on #48
I would like to try it!

[2021-03-17 16:49] D-Ajay-Kumar commented on #47
Will start working on it.

[2021-03-17 18:49] D-Ajay-Kumar commented on #47
How many screens are needed and what info should be there?

[2021-03-17 19:53] Shreya20-10 commented on #46
I would like to work on this issue!

[2021-03-17 19:55] Shreya20-10 commented on #34
I would like to work on this issue!!

[2021-03-17 20:01] Upasana1216 commented on #50
I would like to work on this please assign this to me

[2021-03-17 20:08] D-Ajay-Kumar commented on #47
Done. Please check the code :)

[2021-03-17 21:47] D-Ajay-Kumar commented on #49
Do we just have to create a screen which looks like a person is calling? If that's the case then I can try my hand at this.

[2021-03-18 05:11] shagun25 commented on #49
Yes we need to show a Fake screen which seems like actual call is there and should use the phone ringtone we set for original calls.

[2021-03-18 05:15] shagun25 commented on #50
the timer should start counting down when the 'Activate' button is pressed and send the alert messages to the emergency numbers we provide till it hits 0.

[2021-03-18 05:18] shagun25 commented on #46
Kindly share the ui or demo before starting your work .

[2021-03-18 05:20] shagun25 commented on #37
What's the update @Samdid @VaishnaviSood

[2021-03-18 05:22] shagun25 commented on #14
Assigned to you.

[2021-03-18 05:35] Neha62-lit commented on #46
Yes! Sure

[2021-03-18 10:19] Ayushisood commented on #45
Hey @shagun25 I have checked the description but when i clicked the template it is showing the page not found!!
Any suggestions what can be done.

[2021-03-18 11:04] shreyadubey0902 commented on #14
Thanku....😀

[2021-03-18 12:06] shagun25 commented on #47
Sure @D-Ajay-Kumar .Checking it.

[2021-03-18 13:45] hiashutoshsingh commented on #36
@iamsamuelhere @Soundug who would like to pick this issue..as per the description?

[2021-03-18 13:55] hiashutoshsingh commented on #35
@iamsamuelhere @akshatvirmani who is working on this issue? We can this to only one.

[2021-03-18 14:20] hiashutoshsingh opened #52 "Sharing video/image/audio files between two users using firebase"
**Feature:**  - Sharing video/image/audio files using firebase.

**Expected Behaviour:**  - User will share video/image/audio files to their emergency contacts and those files will show up in those emergency contacts' app. This should be done by firebase.

[2021-03-18 14:30] hiashutoshsingh commented on #28
Dumhttps://github.com/shagun25/SheHeroes/issues/35

[2021-03-18 14:31] hiashutoshsingh commented on #28
Duplicate issue  - https://github.com/shagun25/SheHeroes/issues/35

[2021-03-18 14:31] #28 closed

[2021-03-18 15:01] hiashutoshsingh commented on #23
There are some places where pressing the back button is not dismissing dialogue boxes.
Please have a look. This should be an easy one.

[2021-03-18 15:03] hiashutoshsingh commented on #21
Please using the firebase authentication service for verifying user's phone.

[2021-03-18 15:54] iamsamuelhere commented on #36
Hi @hiashutoshsingh
I would like to pick up the issue

[2021-03-18 15:56] iamsamuelhere commented on #35
Hi @hiashutoshsingh
I would like to take up the issue

[2021-03-18 16:01] keshavgbpecdelhi commented on #28
What just happened

[2021-03-18 16:15] Soundug commented on #24
Hey @shagun25! Could you describe it a little more as I am interested in working for this issue.

[2021-03-18 16:18] Soundug commented on #29
Hey @shagun25 @hiashutoshsingh! Should the image capture be done without opening the camera app?

[2021-03-18 17:43] shagun25 commented on #34
What's your update? Can you tell your workflow?

[2021-03-18 17:44] shagun25 commented on #45
Connect with me on discord.

[2021-03-18 17:48] shagun25 opened #53 "Live Tracking"

[2021-03-18 19:00] Samiksha519 commented on #34
hi i am very new to this i am still figuring out what i would be coding,just give me a day or two and i was wondering inside of msgs what if we make it appear as a pop up.

[2021-03-19 02:23] #14 closed

[2021-03-19 04:19] Subhangini commented on #52
I would like to work on this can you assign this to me.

[2021-03-19 05:07] Shreya20-10 commented on #24
I would like to give it a try, if you can assign me this issue.

[2021-03-19 06:32] Samdid commented on #37
Making PR soon

[2021-03-19 08:44] D-Ajay-Kumar commented on #50
It's alright give it to @Upasana1216

[2021-03-19 15:53] hiashutoshsingh opened #54 "Record video in background"
Feature: - Record video in background

Expected Behaviour: - Record video when the user clicks any button in the background, then save it to the local store in the app.
POINTS-25

[2021-03-19 15:55] hiashutoshsingh opened #55 "Record audio in background"
Feature: - Record audio in background

Expected Behaviour: - Record audio when the user clicks the in the background state, then save it to the local store in the app.

[2021-03-19 15:56] hiashutoshsingh opened #56 "Capture image in background"
Feature: Capture image in the background

Expected Behaviour: In case of emergency capture image in the background and save it in the local storage of the app.
POINTS-25

[2021-03-19 15:58] hiashutoshsingh commented on #29
You can do this foreground state when the app is open.
I have opened another issue for the background.

Let me know if you wanted to work on this.

[2021-03-19 16:02] hiashutoshsingh commented on #35
cool

[2021-03-19 17:30] SamarpanCoder2002 commented on #16
Hello mam @shagun25 , I already added a pull request(#57) related to that..... please review it and if ok, then merge it... Thanks @shagun25

[2021-03-20 02:50] shagun25 commented on #24
As issues are assigned first on first basis. I need to assign @Soundug.

[2021-03-20 02:53] shagun25 commented on #27
Are you working ?

[2021-03-20 04:42] hiashutoshsingh opened #58 "modify gitignore file as per flutter project"
**Feature:** Modify gitignore file

**Expected Behaviour:** Add necessary files and folder in gitignore file for a flutter project. There are many things which are missed out in the current one.

**Ref:** https://github.com/flutter/flutter/blob/master/.gitignore

POINTS-15

[2021-03-20 09:50] Ayushisood commented on #45
@shagun25  Can I start working on any template ??

[2021-03-20 16:31] #16 closed

[2021-03-20 18:04] SamarpanCoder2002 commented on #56
@hiashutoshsingh Can I proceed With that issue??? I am also a gssoc'21 participant....please assign it to me

[2021-03-20 18:06] SamarpanCoder2002 commented on #54
I am a gssoc'21 participant....If I can proceed with that, please assign me @hiashutoshsingh @shagun25

[2021-03-20 18:08] SamarpanCoder2002 commented on #55
I am also a gssoc'21 participant.... If I can proceed with that, please assign me to here...Thanks @shagun25 @hiashutoshsingh ....That one of the nice project to work with

[2021-03-20 18:55] Diksha-11 opened #59 "Adding viewport meta tag."
I would like to add viewport meta tag to /Sheheroes_WatchOS/web/index.html.

I would be adding some important values to it like viewport and content as  it is an important tag to mitigate the virtual viewport on narrow screen devices.
It also controls layout on mobile browsers. It will be good to add this tag to "SheHeros"

Thus, I request @hiashutoshsingh to please /assign me this issue.
POINTS-2

[2021-03-21 03:00] hridhi commented on #58
Hey, can you elaborate ?

[2021-03-21 03:01] hridhi commented on #58
Hey, I am interested to take up this issue

[2021-03-21 04:55] shagun25 commented on #56
Assigned to you.

[2021-03-21 04:57] shagun25 commented on #58
Assigned.

[2021-03-21 05:26] shagun25 commented on #45
Already provided you Downloads of Ui .Have you check those...Only work after checking it.

[2021-03-21 06:04] SamarpanCoder2002 commented on #54
Thanks for assign me...I will make a pull request soon

[2021-03-21 06:07] SamarpanCoder2002 commented on #49
Can I forward With that? Please assign me to here @shagun25

[2021-03-21 06:10] shagun25 opened #60 "Emergency Hooter"
Get attention in case of emergency situations. Press the activate button to Start the emergency hooter(sound) and flashlight.

[2021-03-21 07:53] Subhangini commented on #52
@hiashutoshsingh  I am a beginner and don't know anything about firebase. but i really want to work on this issue so searched a lot and came to learn that to share a file firstly i have to upload files with cloud storage?
Please guide me.

[2021-03-21 11:25] Ayushisood commented on #45
@shagun25  You meant by these references??
I have checked these ref

[2021-03-21 11:33] Ayushisood commented on #45
![2021-03-21 (2)](https://user-images.githubusercontent.com/63868702/111903135-bef5a900-8a66-11eb-81fb-5df249ac99d9.png)
 when i clicked on the image its showing   -----
![2021-03-21 (3)](https://user-images.githubusercontent.com/63868702/111903157-d6349680-8a66-11eb-8bd4-8accdc906d57.png)

[2021-03-21 11:58] Samiksha519 commented on #34
Hi di I am unable to code this. I am really sorry. I think you can assign it to the other participant interested

[2021-03-22 04:58] hiashutoshsingh commented on #49
would you like to take this up @D-Ajay-Kumar , otherwise we have this assign to @SamarpanCoder2002

[2021-03-22 05:05] hiashutoshsingh opened #61 "Sharing video/image/audio files between two users using firebase"
Feature: - Sharing video/image/audio files using firebase.

Expected Behaviour: - Shared video/image/audio files should be visible to their emergency contacts. This should be done by firebase.
POINTS-25

[2021-03-22 05:16] hiashutoshsingh commented on #52
Great to see enthusiasm!
I have modified the description to be more precise. Start with official documentation of the firebase.

Connect with me on discord if you are facing some issues or want some help. @Subhangini

[2021-03-22 05:44] D-Ajay-Kumar commented on #49
Sure please go ahead with @SamarpanCoder2002

[2021-03-22 09:24] Subhangini commented on #52
Ok , Thank you I will do my best

[2021-03-22 09:33] SamarpanCoder2002 commented on #49
Thanks for assign me @hiashutoshsingh

[2021-03-22 09:43] SamarpanCoder2002 commented on #55
@hiashutoshsingh ...here backgroud state means what?? Automatically start recording  audio(by user's choice), even when the app is off????

[2021-03-22 12:03] SamarpanCoder2002 commented on #55
One doubt @shagun25 @hiashutoshsingh ..... when user tap a button, then audio recording will start in background... right??? But Where I made that button??? Please tell me

[2021-03-22 13:54] Ayushisood commented on #45
[check](file:///C:/Users/sooda/Downloads/Template-SheHeroes/template-sheHeroes/index.html)

[2021-03-22 13:59] Meghana-12 commented on #61
Hey, Can I work on this?

[2021-03-22 14:14] Ayushisood commented on #45
@shagun25

[template-sheHeroes.zip](https://github.com/shagun25/SheHeroes/files/6182805/template-sheHeroes.zip)

Please check the index.html file once and let me know what changes are required according to you!

[2021-03-22 19:44] Soundug commented on #24
Hey @shagun25! Is this the kind of dialog box I need to add?
![Screenshot (73)](https://user-images.githubusercontent.com/28762894/112049047-20a43900-8b75-11eb-864c-bb4602f7ae72.png)

[2021-03-23 05:32] shagun25 commented on #45
Provided on discord channel

[2021-03-23 05:34] shagun25 commented on #45
I already told you to refer the links first And then implement. Please gave a look of main page i provided you.

[2021-03-23 06:43] SamarpanCoder2002 commented on #60
Can I work on that ??? @shagun25 @hiashutoshsingh .... I am also a gssoc'21 participant..... Please assign me to HERE

[2021-03-23 17:22] Subhangini commented on #52
Do we have to install any kind of software for working on this project.

[2021-03-23 19:46] pawan2806 commented on #27
I might need some help with this. Many of the packages don't support null safety yet. And as almost all the packages depend on each other, the project is giving countless errors on increasing the dependency versions of packages that actually support null safety.

![Screenshot (579)](https://user-images.githubusercontent.com/63010043/112208487-67119a80-8c3e-11eb-87cd-ed55d12cddc4.png)
![Screenshot

[2021-03-25 04:55] hiashutoshsingh commented on #27
Hey @pawan2806 ,
If some packages are not having their null safety then we can follow two approaches:
1) update packages to the null safety beta version(remaining on previous flutter stable version 1.22.0-1.22.6)
2) Migrating project to flutter 2.0 and those packages whose dependencies are on others we can write them in  dependency-overrides  https://dart.dev/tools/pub/dependencies#dependency-over

[2021-03-25 08:06] pawan2806 commented on #27
![Screenshot (592)](https://user-images.githubusercontent.com/63010043/112439266-ec946800-8d6e-11eb-9131-79fc266a417c.png)

@hiashutoshsingh  I think we have to wait until all packages are updated to null-safety versions.

[2021-03-25 16:21] #30 closed

[2021-03-25 21:33] pawan2806 commented on #60
Can I work on this under Gssco21? @shagun25 @hiashutoshsingh

[2021-03-26 05:44] shagun25 commented on #46
Are you working? @Neha62-lit

[2021-03-26 07:12] Ayushisood commented on #45
@shagun25  Please check it again as i have made all the suggested changes.

[SheHeroes-template.zip](https://github.com/shagun25/SheHeroes/files/6209955/SheHeroes-template.zip)
Made changes according to this design
![WhatsApp Image 2021-03-14 at 01 16 28 (1)](https://user-images.githubusercontent.com/63868702/112595646-b5868b00-8e30-11eb-9cb7-416fe17b0475.jpeg)

[2021-03-26 07:25] Ayushisood commented on #45
Made changes according to this design

![2021-03-26](https://user-images.githubusercontent.com/63868702/112596937-7f4a0b00-8e32-11eb-9278-1c6300cc8570.png)

[2021-03-26 14:03] Neha62-lit commented on #46
@shagun25 Yes, I'm working!

[2021-03-26 14:54] muthuannamalai12 opened #66 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. Kindly assign me this issue as a part of Girl Script Summer of Code.

[2021-03-26 15:19] #59 closed

[2021-03-26 15:31] hiashutoshsingh opened #67 "add pendantic file"
**Feature:** To pass the project through static analysis

**Expected Behaviour:** On running **dart analyze** it should give warnings or errors after pedantic integration is done

**Ref:** https://pub.dev/packages/pedantic#stricter-than-effective-dart

[2021-03-26 15:32] hiashutoshsingh commented on #67
Also, please resolve all the issues after integrating this in project.

[2021-03-26 15:39] Samdid commented on #67
@hiashutoshsingh  I would like to work on this issue, I am a GSSoC21' participant

[2021-03-26 15:48] hiashutoshsingh commented on #55
flutter action package would give you that option to add that shortcut button on phone home page

[2021-03-26 15:50] SamarpanCoder2002 commented on #55
Thanks for reply, I will try that

[2021-03-26 15:51] hiashutoshsingh commented on #52
Not at all. Just go through the documentation.
a article to help this: https://www.educative.io/edpresso/how-to-upload-to-firebase-storage-with-flutter

[2021-03-26 15:53] hiashutoshsingh commented on #27
@shagun25 is dependency override not working here. I guess it should.

[2021-03-26 16:58] Subhangini commented on #52
OK, Thank you

[2021-03-27 05:12] #33 closed

[2021-03-27 09:05] SamarpanCoder2002 commented on #60
Thanks for assign @shagun25 .... I am also a GSSOC'21 particiapant...please raise the required label of this program(like `GSSOC'21` and `label`) ..Thank u @shagun25 @hiashutoshsingh

[2021-03-27 09:06] Samdid opened #68 "Sign up screen is overflowing"
**Describe the bug**
Sign up screen is overflowing.

**Expected behavior**
Sign up screen should not be overflowed

**Screenshots**
![Screenshot_1616784312](https://user-images.githubusercontent.com/70087884/112715991-c35c0f00-8f09-11eb-8850-dd246c150c03.png)

**Additional context**
None

[2021-03-27 09:08] Samdid commented on #68
@shagun25  @hiashutoshsingh  Can I fix this? It is looking very bad every time we restarting the app.

[2021-03-27 12:56] SamarpanCoder2002 commented on #49
@shagun25 @hiashutoshsingh .... Fake call functionality successfully added...please review and merge it...Thank u

[2021-03-27 16:23] hiashutoshsingh commented on #68
@Samdid are you having the latest pull of project? I guess this has been fixed a few days back.

[2021-03-27 17:07] SamarpanCoder2002 commented on #49
Hello @shagun25 @hiashutoshsingh .... I make changes according to you...please review it and merge it..Thank u @hiashutoshsingh

[2021-03-27 20:26] sayan9112 commented on #53
@shagun25 I can make a live location tracking app using JS.
It can be a geolocation web API.
Please assign me to this issue.

[2021-03-28 16:38] Ayushisood commented on #45
@shagun25 Kindly review the changes and do let me know , if other changes are required

[2021-03-29 06:25] shagun25 commented on #45
I have reviewed template is looking good .

[2021-03-29 07:21] shagun25 commented on #25
Dashboard screen breaking at bottom.
![WhatsApp Image 2021-03-29 at 12 51 25](https://user-images.githubusercontent.com/63994999/112800629-87ea4d80-908d-11eb-9803-c83e09b0589c.jpeg)

[2021-03-29 07:23] shagun25 commented on #23
@pranjalagrawal2012
Backbutton has overflowed the screen. Need to adjust topward.
![WhatsApp Image 2021-03-29 at 12 51 25](https://user-images.githubusercontent.com/63994999/112800809-c4b64480-908d-11eb-86a1-6f5a9f763e6c.jpeg)

[2021-03-29 12:12] Ayushisood commented on #45
@shagun25 , Done the correction
Kindly tell me, what data do i need to fill out in the template??

[2021-03-29 18:25] SamarpanCoder2002 commented on #49
@hiashutoshsingh  @shagun25 UI Modified in pull request.... please check it, review it and merge it(#69 )

[2021-03-30 04:41] #49 closed

[2021-03-30 06:37] SamarpanCoder2002 opened #72 "If user Logged in already, then user directly navigate to the Switcher page, instead of landing page"
**Describe the bug**
If the user closes the app without log-out, then after reopening the app, the user does not navigate to the `switcher.dart`  file... He/she navigates first to the landing page..... But if the user already logged in(and not log out before closing the app), then the user should navigate to the `Switcher` page instead of the `landing page`...

**Expected behavior**
If any user, c

[2021-03-30 09:07] SamarpanCoder2002 commented on #56
@shagun25 @hiashutoshsingh ... I already added pull request regarding to that issue....Please check it out ( #73 )

[2021-03-31 03:59] shagun25 commented on #45
original screenshots.
real about sections.
feature section explaining the contents in app with brief detailation.
contacts to be added.

[2021-03-31 14:57] stuti1402 commented on #29
Hello @shagun25! I am a GSSOC'21 participant. I would like to work on this issue, please assign it to me.

[2021-04-01 11:33] #67 closed

[2021-04-01 12:58] SamarpanCoder2002 commented on #56
@shagun25 @hiashutoshsingh Conflicts resolved in pull request #73 ... please take a look

[2021-04-01 15:20] stuti1402 commented on #29
Thank You for assigning, I've started working on it, will submit as soon as possible......

[2021-04-02 05:29] #56 closed

[2021-04-02 07:05] Shreya20-10 commented on #48
hey!! I would like to work on this issue.

[2021-04-02 16:12] Ayushisood commented on #45
@shagun25 Made all the changes, since i do not have the direct link of the app, so did not provide the link for download the app section..
Kindly check the modified html file and do tell me what furthur changes are required.
[SheHeroes-template (2).zip](https://github.com/shagun25/SheHeroes/files/6250351/SheHeroes-template.2.zip)

[2021-04-02 19:58] shagun25 commented on #48
assigned @Shreya20-10

[2021-04-03 14:42] Neha62-lit opened #77 "Add the Pedantic Dependency rules through GitHub actions/CI tools"
**Describe the feature you'd like to add**
1) Sometimes breaking Pedantic rules can result in a poor quality code which over time grows out to be messy. We can take advantage of linting and static analysis to check whether the written code adheres to our code styling rule. This can be automated using GitHub Actions.
2) In this project, we added the Pedantic Dependency rules. If we enable it to Git

[2021-04-03 15:21] Neha62-lit commented on #77
@hiashutoshsingh Please assign me this issue!

[2021-04-03 17:00] ankit-kmar commented on #66
Hey, I want to work on this under gssoc21

[2021-04-03 18:19] Ayushisood commented on #45
@shagun25 , Kindly review the changes

[2021-04-04 17:24] #68 closed

[2021-04-04 17:25] #58 closed

[2021-04-05 04:16] #77 closed

[2021-04-05 10:54] ankit-kmar commented on #66
Is your feature request related to a problem? Please describe.
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

Describe the solution you'd like
A script in .github folder t

[2021-04-06 10:28] ankit-kmar opened #79 "Auto Label Bot"
**Is your feature request related to a problem? Please describe.**
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

**Describe the solution you'd like**
A script in .github

[2021-04-06 13:32] anirudhsai20 opened #80 "Readme file updation"
'GirlScript Summer of Code' needs to be added in the Open Source section in the Readme file.

[2021-04-06 13:32] anirudhsai20 commented on #80
Hi! Please assign this issue to me under GSSOC.

[2021-04-06 14:43] pranjalagrawal2012 commented on #25
@shagun25 Can you please reassign me the same. It would be so grateful of you.

[2021-04-06 14:43] pranjalagrawal2012 commented on #25
@shagun25 I really wont to make contributions

[2021-04-06 14:45] pranjalagrawal2012 commented on #23
@shagun25 Okay I will look into this once you reassign #issue 25

[2021-04-06 15:10] hiashutoshsingh commented on #79
I think for now there is no need, this project will be hauled for a long time.

Thanks anyway.

[2021-04-06 15:10] #79 closed

[2021-04-06 15:11] hiashutoshsingh commented on #66
Thanks for the issue, but there is no need for now.

[2021-04-06 15:11] #66 closed

[2021-04-06 15:12] Shreya20-10 commented on #48
@shagun25 how about inserting the select language page before login page ?

[2021-04-06 15:15] hiashutoshsingh commented on #25
@pranjalagrawal2012 Hey I will feel happy to assign you, but this was pending on you for a long time. So was giving chance to others.

Please let me know your thoughts before assigning.

[2021-04-06 16:01] pranjalagrawal2012 commented on #25
@hiashutoshsingh I was unable to contribute because someone in my family passed away

[2021-04-07 03:35] anotherwebguy opened #81 "Adding FacebookAuth"
**Describe the feature you'd like to add**
I would like to add facebook authentication in this app so the user can also signin through facebook

**Describe how you will do it**
I will enable the Facebook authentication from firebase and add the code for signing in through facebook.

[2021-04-07 03:53] #81 closed

[2021-04-07 04:00] shagun25 commented on #45
Is get in touch and subscribe connected with backend?

[2021-04-07 04:01] shagun25 commented on #45
you have done great job very clean ui.

[2021-04-07 04:48] hiashutoshsingh commented on #25
So sorry to hear that.

Before start working on this run on a 5-inch android phone, I think few issues are fixed in master by others.

[2021-04-07 05:10] hiashutoshsingh commented on #24
So sorry for the late reply, I missed this somehow.

Yes, this would work. @Soundug

[2021-04-07 05:50] SamarpanCoder2002 commented on #72
Hello @hiashutoshsingh @shagun25 .... I already made a pull request related to that....Hope you review it and merge it soon @hiashutoshsingh @shagun25

[2021-04-07 06:12] Ayushisood commented on #45
@shagun25  Thank you :)
Should I make a PR now, and also tell me how to connect subscribe with backend(any link or any folder in the codebase for backend)??

[2021-04-07 14:46] pranjalagrawal2012 commented on #25
okay @hiashutoshsingh So can I still work on this issue or the issue is closed ??

[2021-04-07 20:03] Soundug commented on #24
@hiashutoshsingh It's alright. Thank you for your response.
I will be making a PR within a day or two.

[2021-04-07 20:04] Soundug commented on #32
@hiashutoshsingh since I'm new to flutter this issue is time consuming for me and exams are coming too. If you wish, you may assign to someone else.

[2021-04-08 03:52] #72 closed

[2021-04-08 03:53] hiashutoshsingh commented on #25
Sure take the latest pull before start doing this task.

[2021-04-08 03:54] hiashutoshsingh commented on #32
Thanks for letting us know.

[2021-04-08 03:56] #80 closed

[2021-04-08 05:14] SamarpanCoder2002 commented on #32
Can I work on that issue? I am also a GSSOC21 participant....Please assign me here @shagun25 @hiashutoshsingh

[2021-04-08 05:53] hiashutoshsingh commented on #32
Hey, you have many issues to resolve as I see, I just wanted to give chance to other participants.

If this is not picked in few days I will assign it to you.

[2021-04-08 05:55] SamarpanCoder2002 commented on #32
sure

[2021-04-08 06:26] SamarpanCoder2002 commented on #54
Hello @hiashutoshsingh @shagun25 ...I already made a pull request...please check it

[2021-04-08 07:03] SamarpanCoder2002 commented on #55
That can't be done by me @shagun25 @hiashutoshsingh ..... I tried a lot but can't....Assign another participant here.....And Please assign me in `Record Audio in Foreground`(#32 ) as I requested previously in that issue (#32)....I also work on `Record Audio in Foreground` in other project...I can perfectly do it...

Hope you assign me in (#32) and assign otherone in that issue

Thank u @shagun25 @

[2021-04-08 14:53] hiashutoshsingh commented on #55
@SamarpanCoder2002  What's the issue here? Let's discuss

If you are familiar with quick actions you can use that for implementing this feature.

[2021-04-08 15:09] SamarpanCoder2002 commented on #55
Actually I comfortable with quick actions....But When I want to start audio recording with quick actions, the app is crash, even in physical device....

[2021-04-08 16:41] pranjalagrawal2012 commented on #25
okay @hiashutoshsingh thanks alot

[2021-04-09 01:48] SapinderSingh commented on #26
i would like to work on this issue as a participant of GSSOC 21.

[2021-04-09 04:32] #54 closed

[2021-04-09 11:11] SamarpanCoder2002 commented on #60
Hello @shagun25 @hiashutoshsingh .... Is Emergency Hooter means `Emergency Siren` from mobile or `Emergency Call` to someone...Here I little confused..pls help me to know it

[2021-04-09 11:12] SamarpanCoder2002 commented on #55
Waiting for your response @shagun25 @hiashutoshsingh

[2021-04-09 17:41] Ayushisood commented on #45
@shagun25 Should I make PR??

[2021-04-10 04:21] hiashutoshsingh commented on #60
@shagun25 Please elaborate to @SamarpanCoder2002 what's the actual use case here is.
Thanks

[2021-04-11 03:27] shagun25 commented on #60
updated issue now .Please check!

[2021-04-11 06:29] SamarpanCoder2002 commented on #60
Ok got it

[2021-04-11 15:07] SamarpanCoder2002 commented on #60
@shagun25 @hiashutoshsingh Pul request Added...Please review and merged it

[2021-04-11 19:38] SamarpanCoder2002 commented on #55
Please reponse @hiashutoshsingh @shagun25 ..... Here..... It is uncomfortable to work with that issue....kindly unassign me from that assign me in `Record Audio in Foreground`(#32 ) Issue... I will surely made a pull request within 2days....

Kindly response @hiashutoshsingh @shagun25

[2021-04-12 09:46] sardonicankita commented on #32
Hey @shagun25 , Can you assign this issue to me?
I am new to flutter and firebase so will be great help if you could guide me a little.
This will be my very first issue, and I really want to do this.

[2021-04-14 03:44] #60 closed

[2021-04-14 05:00] SamarpanCoder2002 commented on #60
Hello @hiashutoshsingh @shagun25.... Why not you raise the labels required for GSSOC21 and level3 related to that issue......??? It's compulsory for that program... Please raise the corresponding labels related to that issue

[2021-04-14 11:25] SamarpanCoder2002 commented on #55
Hello @shagun25 @hiashutoshsingh... Please assign me in Record audio in foreground issue and unassign me from here..... I can perfectly do #32 (Record audio in foreground ).... No one assign in that issue till now and I requested there before to assign me.... Please assign me in that issue and unassign me from here

...... Pleasee @hiashutoshsingh @shagun25....

I can't starr working on that after

[2021-04-14 16:26] ANSHIKA1806 commented on #24
@hiashutoshsingh
Assign this task to me if you need any changes. I would love to contribute in this project.

[2021-04-15 05:58] SamarpanCoder2002 commented on #32
Thanks a lot for assign me @hiashutoshsingh

[2021-04-15 12:30] shagun25 commented on #45
You can use firebase for ease of access.

[2021-04-15 12:37] NidhiChaurasia commented on #9
@shagun25 Could you please assign me this issue . So, that I could work on it

[2021-04-17 16:08] srisatya1197 opened #87 "I want to add no.of pr's, stars, issues and other in the readme file."
I want to add no.of pr's, stars, issues and other in the readme file.
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115119301-4cc0a780-9fc5-11eb-86fa-30c372f73d98.png)

[2021-04-17 16:27] hiashutoshsingh commented on #87
@shagun25 do you want to take this up?

[2021-04-17 16:28] hiashutoshsingh commented on #36
@iamsamuelhere do you still want to work on this issue?

[2021-04-17 16:30] srisatya1197 commented on #87
@hiashutoshsingh Sir I didn't understand. I opened this issue.

[2021-04-18 09:29] srisatya1197 commented on #87
@hiashutoshsingh Should I start working on this?

[2021-04-21 06:11] Ayushisood opened #88 "Connect the Subscribe and Get in Touch section with backend in SheHeroes-template"
@hiashutoshsingh I have created the template, but the subscribe and Get in touch section of the web template is not connected with backend
kindly assign me this issue so i can do the required changes in web template under GSSOC'21

[2021-04-21 06:20] U-c0de commented on #21
@hiashutoshsingh @shagun25 Assign firebase authentication service for verifying user's phone to me , I already had a better understanding of working on login pages backend on Firebase framework.

[2021-04-21 06:23] U-c0de commented on #23
@shagun25  Assign me this issue I can solve the back button overflow problem and even modify the button.

[2021-04-21 11:37] shagun25 commented on #87
yeah we can take this. @srisatya go ahead

[2021-04-21 11:39] #45 closed

[2021-04-21 11:41] shagun25 commented on #46
@satvik interested in this issue?

[2021-04-21 11:42] shagun25 commented on #7
@pranavi79 working?

[2021-04-21 11:44] shagun25 commented on #26
@SapinderSingh have you worked with it before?

[2021-04-21 11:44] shagun25 commented on #9
@NidhiChaurasia share your ideas..please

[2021-04-21 11:46] shagun25 commented on #21
@U-c0de Assigned.

[2021-04-21 11:48] shagun25 commented on #53
@sayan9112 how would it work with flutter in our app. Discuss your idea or workflow.

[2021-04-21 12:33] SapinderSingh commented on #26
@shagun25 Ofcourse I did.

[2021-04-21 16:46] pranjalagrawal2012 commented on #23
@hiashutoshsingh @shagun25 please do assign @U-c0de for the #40

[2021-04-21 16:48] pranjalagrawal2012 commented on #23
@hiashutoshsingh @shagun25 I have unassigned myself . If someone is willing to contribute please assign them. Thank You

[2021-04-21 16:52] sayan9112 commented on #53
@shagun25 I can't connect it.

[2021-04-22 06:58] shagun25 commented on #87
please add this section at top of readme.

[2021-04-22 07:15] srisatya1197 commented on #87
@shagun25 How do I do that after merging I really don't know. Should I create another pr?

[2021-04-22 07:46] hiashutoshsingh commented on #87
Yes please, create another merge request.

[2021-04-23 03:53] srisatya1197 commented on #87
@hiashutoshsingh Sorry I didn't understand.

[2021-04-23 05:20] hiashutoshsingh commented on #87
The new changes you wanted to do raise another PR for that @srisatya1197

[2021-04-23 05:39] srisatya1197 commented on #87
Ok

[2021-04-23 08:54] NidhiChaurasia commented on #9
Yeah,Sure I would be telling you that.Pardon for the late reply cozI had my sem exams !

[2021-04-23 09:22] NidhiChaurasia commented on #9
@shagun25 I have posted my idea on discord.Please Review and let me know about the chages I want to make ! Kindly Acknowledge......

[2021-04-23 12:42] Ayushisood commented on #88
@shagun25  Kindly review the changes in the html file of zip folder----->
[SheHeroes-template.zip](https://github.com/shagun25/SheHeroes/files/6365351/SheHeroes-template.zip)

Here is the screenshot of firebase --->
![Screenshot (2)](https://user-images.githubusercontent.com/63868702/115872375-5d5a9d00-a45f-11eb-90b4-066b9a05936d.png)

[2021-04-24 06:28] srisatya1197 commented on #87
@hiashutoshsingh @shagun25 you haven't deleted the pr #90 please do it .

[2021-04-24 11:54] hiashutoshsingh commented on #87
Thanks for reminding.

[2021-04-24 11:54] #87 closed

[2021-04-27 10:05] Ayushisood commented on #88
@shagun25  Please check it once and should i make PR now?

[2021-04-27 15:34] Satvik commented on #46
@shagun25  I believe you want @theSatvik, I (@Satvik) am a different person :)

[2021-04-28 04:38] shagun25 commented on #88
@Ayushisood there's already firebase account made for sheheroes you can use that.

[2021-04-28 05:04] Ayushisood commented on #88
@shagun25
mail id : soodayushi239@gmail.com

[2021-05-02 03:38] believeInJha commented on #48
Still being worked upon or can I take it?

[2021-05-02 03:39] believeInJha commented on #48
Hey @shagun25, @hiashutoshsingh Still being worked upon or can I take it?

[2021-05-02 03:42] believeInJha commented on #21
Hey @shagun25, @U-c0de Still being worked upon or can I take it?

[2021-05-02 10:00] hiashutoshsingh commented on #21
Please go ahead.

[2021-05-03 03:38] believeInJha commented on #21
Hey @hiashutoshsingh, kindly add me to the firebase console. My gmail is `apurv.bmsit@gmail.com` Thank You!

[2021-05-03 05:23] hiashutoshsingh commented on #21
@shagun25 Please add him.

[2021-05-07 04:42] shagun25 commented on #21
Added!

[2021-05-07 04:42] shagun25 commented on #48
You can work on it!

[2021-05-07 04:43] shagun25 commented on #88
added.

[2021-05-09 14:26] Ayushisood commented on #88
@shagun25 Done the changes in the provided firebase account, please check it and also view the functionality of Html file provided in the zipped folder ->

[SheHeroes-template.zip](https://github.com/shagun25/SheHeroes/files/6447697/SheHeroes-template.zip)

![Screenshot (25)](https://user-images.githubusercontent.com/63868702/117575687-943bde80-b100-11eb-8680-b6a988069e3e.png)

[2021-05-12 18:12] chazuttu commented on #46
I am GSSOC'21 Participant. Please assign this issue to me and review my PR for this issue. Thank you

[2021-05-22 13:22] darpankhanna opened #94 "Update Bug Report Template"
The bug report template will be updated using the Theos template.

[2021-05-22 13:23] darpankhanna commented on #94
@shagun25 can u please assign me this issue

[2021-05-24 15:36] KajalSinghBAGHEL opened #95 "Update README.md"
remove grammatical mistakes

[2021-05-24 15:37] KajalSinghBAGHEL commented on #95
I am a GSSOC participant. Can I work on this issue

[2021-05-26 15:19] KajalSinghBAGHEL commented on #95
can I work on this issue

[2021-07-17 15:44] NidhiChaurasia commented on #9
@shagun25 We can enhance message feature by a Customized Chatbot service that automatizes the messaging feature based on the feed . My approach to #9

[2021-09-30 19:01] Samkit-shah commented on #21
Hello @shagun25  is anyone still working on this?
If not can i take this?

[2021-09-30 19:03] Samkit-shah commented on #24
Is anyone working in this?

[2021-10-23 15:12] Priyanshu078 commented on #23
Please assign me this issue
I can solve this issue

[2021-10-23 15:16] Priyanshu078 commented on #26
I can solve this issue please assign me this issue @shagun25

[2021-10-27 13:34] Priyanshu078 commented on #23
@shagun25

[2022-01-14 09:28] ramanjitsingh-hub commented on #61
Hey Is this issue under work, if no can pls assign me to this issue I would like to work on this

[2022-07-10 16:58] Mamun361054 opened #96 "currently many libraries are not updated and most of the method deprecated long ago"
Need to update libraries and deprecated also need to update

kindly assign me this issue so i can do the required changes

mail id: mh72156@gmail.com

[2022-08-09 19:14] saiaparna commented on #53
Can i work on this.Is this still open

[2022-08-13 02:40] VishalVinayRam commented on #96
I wnated to work on this ,please assign me this
This is my email id vishalvinayram5432@gmail.com

[2022-08-13 02:43] VishalVinayRam commented on #24
I would like to work on this ,please assign it
This is myy email id vishalvinayam5432@gmail.com

[2022-10-14 04:35] Samkit-shah commented on #35
Is there anyone working on it?
If not I would I like to completed this .

@hiashutoshsingh please assign me this issue.

[2022-10-14 04:36] Samkit-shah commented on #34
Can you assign me this?
@hiashutoshsingh

[2022-10-14 04:37] Samkit-shah commented on #25
Is it still pending? If yes can you assign me this issue I can work on it @hiashutoshsingh ?

[2022-11-05 04:18] ABHISHEK0S1INGH commented on #25
Hey @shagun25 My name is Pranjal Agrawal and i want to contribute on this issue. Can you please assign me ?? It will be very greatful